<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>List of books</title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for book in books %}
    <div class="book-card">
      <p>{{ book.title }}</p>
      <p>{{ book.author }}</p>
      <p>Total Pages: {{ book.num_pages }}</p>
      <p>ISBN # : {{ book.ISBN }}</p>
      <img src="{{ book.cover }}", width = "200">
      <p>{{ book.in_print }}</p>
      <p>{{ book.publish_date }}</p>

    </div>
  {% endfor %}
</main>
</body>

</html>